#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
#*.exe
#*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
#[Bb]in
#[Dd]ebug*/
#cde/[Bb]in/*
*.lib
*.sbr
obj/
#[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
#Robin Rules for cde repo.
src/*/[Bb]in
lib/[Bb]in
lib/*/Documentation
lib/*/[Dd]oc
lib/*/[Ss]amples
*.svn/

test/*.cde
test/*.cds
test/*.7z
lib/*.zip
lib/*.tar.gz
lib/OBjectListViewFull*/*
lib/CustomMessageBox_Sample*/*

bin/*
packages/
.idea/
*.cde
*.cde.off

node_modules/
catalog-example-angular/
catalog-example-angular.zip
*.ncrunchproject
*.ncrunchsolution
src/.vs/config/applicationhost.config
