<header data-ng-include="layoutPartial('header')"></header>
<!-- style top margin on body compensates for 'navbar-fixed-top' -->
<div>
    <div class="row-fluid">
        <div class="alert alert-info container-fluid">
            <div class="row-fluid">
                <div class="span3">
                    <img class="brand" src="Images/heron_200_black.png" alt="logo" />
                </div>
                <div class="span9">
                    <p class="lead">Welcome to cdeWeb</p>
                    <div class="container-fluid">
                        <p class="mt-em">This is a web interface for searching catalog files created by cde.</p>
                        <p class="mt-em">"cde" is an abreviation for "catalog directory entries".</p>
                    </div>
                    <br/>
                    <p>This application contains goodness from the following development resources.</p>
                    <ul>
                        <li><a href="http://angularjs.org/">AngularJS</a></li>
                        <li><a href="http://angular-ui.github.com/">AngularUI</a></li>
                        <li><a href="http://twitter.github.com/bootstrap/">Twitter Bootstrap</a></li>
                        <li><a href="http://fortawesome.github.com/Font-Awesome/">Font Awesome</a></li>
                        <li><a href="http://www.asp.net/mvc">ASP.NET MVC</a></li>
                        <li><a href="http://code.google.com/p/autofac/">autofac</a></li>
                        <li><a href="http://www.asp.net/signalr">SignalR</a></li>
                    </ul>
                    <p>You can contact me here <a data-ng-href="mailto:{{data.email}}?subject={{data.name}} v{{data.version}}">{{data.email}}</a></p>
                    <p>&copy; Robin Luiten 2013</p>
                </div>
            </div>
        </div>
    </div>
    <footer>
    </footer>
</div>
