<header data-ng-include="layoutPartial('header')"></header>

<div class="row-fluid">
    <div>
        filesToLoad: [{{data.filesToLoad}}]
        <button data-ng-click="doQuery('graaaar', 'average bear')" data-ng-disabled="!data.hubActive">Click Me! 3</button>
    </div>
    <div data-ng-show="!haveResults()" class="alert">
        <p><strong>{{data.noResultsMessage}}</strong></p>
    </div>
        
    <table data-ng-show="haveResults()" class="table table-striped table-condensed table-hover">
        <thead>
            <tr>
                <th data-sorted="Name">Name</th>
                <th data-sorted="Size">Size</th>
                <th data-sorted="Modified">Modified</th>
                <th data-sorted="Path">Path</th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="result in data.searchResult" id="{{$index}}">
                <td>{{result.Name}}</td>
                <td>{{result.Size}}</td>
                <td>{{result.Modified | date:'yyyy/MM/dd'}}</td>
                <td><a class="" href="#/copyPath/{{result.Path}}" data-ng-model="resultPath">{{result.Path}}</a></td>
            </tr>
        </tbody>
    </table>
    <div data-ng-show="data.nextLink">
        <a href="{{data.nextLink}}">More Results</a>
    </div>

    <footer>
        <div data-ng-show="data.totalMsec">Metrics {{ data.totalMsec }}msec</div>
        <ul>
            <li data-ng-repeat="r in data.metrics">
                <td >{{r.Label}} {{r.ElapsedMsec}} msec</td>
            </li>
        </ul>
    </footer>
</div>
<!--<div class="navbar">
    <div class="navbar-inner">
        <ul class="nav">
            <li class="divider-verticalx"></li>
            <li>Items</li>
            <li class="divider-verticalx"></li>
            <li>Items</li>
        </ul>
    </div>
</div>-->
