<header ng-include="layoutPartial('header')"></header> 
<div class="container-fluid">
    <form class="">
        <fieldset>
            <div class="help-block">ctrl-C to copy path to clipboard</div>
            <div class="control-group">
                <label class="control-label">Path</label>
                <div class="controls">
                    <input id="copyField" type="text" ng-model="resultPath" class="span10" selectall>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Go Back</button>
        </fieldset>
    </form>
</div>


