<div class="navbar navbar-static-top" data-ng-controller="navbarCtrl">
    <div class="navbar-inner">
        <ul class="nav">
            <li class="divider-vertical"></li>
            <li><img class="brand cdeLogo" src="Images/CDE-logo-badge-01.png" alt="cde logo" /></li>
            <li><a class="brand" href="#">{{ data.name }} v{{ data.version }}</a></li>
            <li class="divider-vertical"></li>
        </ul>
        <form class="navbar-form navbar-search form-inline pull-right">
        <ul class="nav" >
            <li data-ng-show="haveResults()">
                <button data-ng-click="clearResult()" type="button" class="btn btn-info">Clear Results <i class="icon-remove"></i></button>
            </li>
            <li class="divider-vertical"></li>
            <li><input id="search" type="text" data-ng-model="data.query" class="search-query span4" placeholder="Search" data-ui-reset="" data-focussearch=""></li>
            <li><button data-ng-click="search()" type="submit" class="btn btn-primary">Search</button></li>
            <li><button data-ng-click="" type="button" class="btn">Options</button></li>
        </ul>
        </form>
    </div>
</div>