<div class="navbar navbar-inverse navbar-static-top navbar-form form-inline " data-ng-controller="navbarCtrl">
    <div class="navbar-inner ">
        <ul class="nav pull-left">
            <li><img class="brand cdeLogo" src="Images/CDE-logo-badge-01.png" alt="cde logo"/></li>
            <li><button data-ng-click="navAbout()" class="btn btn-inverse">About {{ data.name }} v{{ data.version }}</button></li>
        </ul>
        <form>
        <ul class="nav pull-right" >
            <li data-ng-show="data.haveResults()">
                <button type="button" class="btn btn-info"
                        data-ng-click="navClearResult()">Clear Results
                    <i class="icon-remove"></i>
                </button>
            </li>
            <li>
                <input id="search" type="text" placeholder="Search" class="search-query span4"
                        data-ng-model="data.query" data-ui-reset="" data-restoresearchfocus="">
            </li>
            <li><button data-ng-click="navSearch()" type="submit" class="btn btn-primary" data-ng-disabled="!data.canQuery()">Search</button></li>
            <li><button data-ng-click="" type="button" class="btn">Options</button></li>
        </ul>
        </form>
    </div>
</div>
