<div class="navbar navbar-static-top" data-ng-controller="navbarCtrl">
    <div class="navbar-inner">
        <ul class="nav">
            <li class="divider-vertical"></li>
            <li><img class="brand cdeLogo" src="Images/CDE-logo-badge-01.png" alt="cde logo""/></li>
            <li><a class="brand" href="#/about"  title="Click for about cdeWeb.">{{ data.name }} v{{ data.version }}</a></li>
            <li class="divider-vertical"></li>
        </ul>
        <form class="navbar-form navbar-search form-inline pull-right">
        <ul class="nav" >
            <li data-ng-show="data.haveResults()">
                <button type="button" class="btn btn-info"
                        data-ng-click="navClearResult()">Clear Results
                    <i class="icon-remove"></i>
                </button>
            </li>
            <li class="divider-vertical"></li>
            <li>
                <input id="search" type="text" placeholder="Search" class="search-query span4" 
                        data-ng-model="data.query" data-ui-reset="" data-restoresearchfocus="">
            </li>
            <li><button data-ng-click="navSearch()" type="submit" class="btn btn-primary" data-ng-disabled="!data.canQuery()">Search</button></li>
            <li><button data-ng-click="" type="button" class="btn">Options</button></li>
        </ul>
        </form>
    </div>
</div>