<?xml version="1.0"?>
<configuration>
  <configSections></configSections>

  <appSettings>
    <add key="ProgressUpdateInterval" value="5000"></add>
    <add key="Hash.FirstPassSizeInBytes" value="65536"></add>
    <add key="Hash.DegreesOfParallelism" value="2"></add> <!-- -1 unlimited, otherwise value for # of logical processors.-->
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
